@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: url("space image.jpg");
  font-family: 'Saira Stencil One', cursive;
  background-repeat: no-repeat;
  background: cover;
}
h1 {
  color: #000;
  padding-top: 1em;
  text-align: center;
}
.container
{
  position: fixed;
  width: 1200px;
  height:300px;
  padding-left: 130px;
}
.container .peopleOne
{
  position: relative;
  width: 300px;
  height: 100px;
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.container .peopleOne:hover {
  background: white;
}
.container .peopleTwo
{
  position: relative;
  width: 300px;
  height: 100px;
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.container .peopleTwo:hover {
  background: white;
}
.container .peopleThree
{
  position: relative;
  width: 300px;
  height: 100px;
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.container .peopleThree:hover {
  background: white;
}
.container .quoteOne {
  position: relative;
  width: 300px;
  height: 100px;
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container .quoteOne:hover {
  background: white;
}
.container .quoteTwo {
  position: relative;
  width: 300px;
  height: 100px;
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container .quoteTwo:hover {
  background: white;
}
.container .quoteThree {
  position: relative;
  width: 300px;
  height: 100px;
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container .quoteThree:hover {
  background: white;
}
#message {

  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #34e1eb;
  font-style: italic;
  font-weight: bolder;
}
